.resultsTable {
    display: flex;
    flex-direction: column;
    border: groove;
    margin: auto;
    margin-top: 1%;
    margin-left: 0%;

}

.studentLine {
    display: flex;
    border: groove;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    flex-direction: row;
}

.scrollBox {
  height: 700px;
  scroll-behavior: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.img {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.img:hover {
    opacity: 50%;
}

.studentNameText {
    font-size: 25px;
    width: 50%;
}

.studentGradeText {
    font-size: 25px;
    width: 30%;
}

.studentAddressTextBox {
  margin-right: 2%;
  font-size: 30px;
  width: 33%;
}

.studentAddressText {
  font-size: 25px;
}

.searchBar {
    margin-left: 0%;
    margin-right: auto;
    margin-top: 3%;
    width: 61%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.deleteIcon {
    width: 20px;
    height: 20px;
}

.deleteButton {
    margin: auto;
    align-self: center;
}

.buttonBox {
    margin-right: 3%;
    margin-left: auto;
    display: flex;
}

/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

  .hidden {
    visibility: hidden;
    margin: auto;
  }

  .visible {
    visibility: visible;
    align-self: center;
  }

  .editStudentButton {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .editStudentBox {
    display: flex;
    flex-direction: column;
  }

  .editStudentPic {
    height: 125px;
    width: 125px;
    align-self: center;
  }

  .editStudentEditButton {
    width: 15%;
    align-self: center;
  }

  .studentNameTextBox {
    width: 33%;
  }

  .studentYearTextBox {
    width: 33%;
  }

  .editButton {
    align-self: flex-start;
    
  }

  .searchLabel {
    font-weight: bold;
    font-size: x-large;
  }

  .editStudentLabels {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
  }

  .studentTitleBox {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .studentNameEdit {
    font-size: 30px;
    margin: auto;
  }